# Google C/C++ Code Style settings
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html

BasedOnStyle: Google

AlignConsecutiveMacros: Consecutive
AlignConsecutiveShortCaseStatements: # Custom
  Enabled: true
AllowShortCaseLabelsOnASingleLine: true

BreakBeforeBinaryOperators: NonAssignment # Optional

ColumnLimit: 0 # Forcefully compresses valid spacing

DerivePointerAlignment: false # Optional

IncludeBlocks: Preserve

MaxEmptyLinesToKeep: 1 # Custom

QualifierAlignment: Custom
QualifierOrder: [inline, static, volatile, const, type]

SortIncludes: CaseInsensitive

Standard: c++20

# Needed for HLSL

NamespaceIndentation: None
AllowShortIfStatementsOnASingleLine: WithoutElse
# AlignEscapedNewlines: LeftWithLastLine # clang 19
