[submodule "external/reshade"]
	path = external/reshade
	url = https://github.com/crosire/reshade

[submodule "external/Streamline"]
	path = external/Streamline
	url = https://github.com/clshortfuse/Streamline.git
	branch = patch-1

[submodule "external/gtl"]
	path = external/gtl
	url = https://github.com/greg7mdp/gtl.git
